.discount-bar {
    display: block;

    background: linear-gradient(to right, #3B183F , #E100A6);
    color: #fff;
    padding: 27px 65px;
    font-size: 22px;
    margin-left: 0px;
    margin-right: 0px;

}
.discount-card {
    background-color: #ffffffff;
    padding: 3px 11px;
    color: #E100A6;
    font-weight: 900;
}