.row-footer{
    padding-top: 25px;
    background-color: #3B183F;
    color: #FFFFFF;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.row-mision p{
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
}

.input-news{
    background-color: transparent;
    border: solid #E100A6 1px;
    width:70%;
    border-radius: 0px;
    font-size: 13px;
    padding: 1.5px 12px;

}

.input-news:focus{
    background-color: transparent;
    border: solid #E100A6 1px;
    color:#FFFFFF;
}
.btn-news {
    background-color: #E100A6;
    color: #FFFFFF;
    border: solid #E100A6 1px;
    border-radius: 0px;
    font-size: 12px;
    padding: 2.5px 14px;
    text-transform: uppercase;
}


.btn-news:hover{
    background-color: transparent;
}

.div-rewards{
    border-left: solid grey 1px;
}

.div-rewards p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
}

.div-rewards img{
    width: 30%;
}

.news-title {
    font-size: 0.8rem;
}

.div-corporativo{
    border-left: solid grey 1px;
}

.div-corporativo p {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}

.div-rights{
    color: #FFFFFF;
    font-size: 12px;
    background-color: #290D2C;
    padding: 10px 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.div-rights p {
    margin-bottom: 0px;
}

.row-news{
    border-top:solid grey 1px;
    padding-top:5px;
}


@media(max-width: 500px){
    .div-corporativo{
        border-top: solid grey 1px;
        padding-top: 20px;
    }

    .div-rewards{
        border-top: solid grey 1px;
        padding-top: 20px;

    }

    .row-news{
        padding-bottom: 10px;
        border-top: 0px;
    }

    .input-news{
        width: 100%;
    }

    .div-rights{
        text-align: right !important;
    }
}