.div-companies{
    margin-top: 3rem;
    background-color: #f2f2f2;

}

.title-companies {
    color: #7B2781;
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 700;
}

.companies-logos {
    margin-top: 1rem;
    padding: 0 5rem;
    background-color: #f2f2f2;
    margin-left: 0px;
    margin-right: 0px;
}


.logo-col {
    margin-top: 1.1rem;
}

