.other-head {
    padding-top: 5rem  !important;
    padding-bottom: 4em !important;
    background-color: #311C33 !important;
    background-size: 150px !important;

}

.other-head p {
    margin-top: 2.5rem;
    font-size: 21px;

}


hr {
    border: solid grey 1px;
    width: 80%;

}