.row-level-one img {
    width: 60%;
}

.row-level-one span {
    display: block;
    font-size: 13px;
    color: #7b7b7b;
    margin-top: 0.5rem;
}

.option-test{
    cursor: pointer;
}


.btn-game {

    font-size: 16px !important;
    border-radius: 3px !important;
}


.row-result img {
    width: 40%;
}

.row-result span {
    display: block;
    font-size: 20px;
    color: #252525;
    margin-top: 0.5rem;
}