.div-figure{
    background-color:#3B183F;
}


.div-figure img {
    margin: 0 auto;
    width :100%
}

.div-figure p {
    color: #FFFFFF;
    font-size: 20px;
}


.ol-topics{
    color: #FFFFFF;
}


.ol-topics h5   {
    font-size: 25px;
    display: block;
    font-weight: 700;
}
