.div-figure{
    background-color:#3B183F;
}


.div-figure img {
    margin: 0 auto;
    width :30%
}

.div-figure p {
    color: #FFFFFF;
    font-size: 15px;
}


.ol-topics{
    color: #FFFFFF;
}


.ol-topics h5   {
    font-size: 15px;
    display: block;
    font-weight: 700;
}

@media (max-width: 500px){
    .div-figure img {

        width :85%
    }
}