.cinta-head {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
}


.cinta-title2 {
    font-size: 45px;
    text-transform: capitalize!important;
}

.text-cinta {
    font-size: 24px !important;
    font-weight: 700;
}